.add-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & input[type="text"] {
    padding: .625rem;
    border-radius: 0.75rem;
    color: var(--content-tertiary);                   
    border: 2px solid var(--border-primary);
    background-color: var(--background-secondary); 
    font: var(--paragraph);
    line-height: 140%;
  
  }

  & input[type="text"]:hover {
    border: 2px solid var(--border-hover);
  }

  & input[type="text"]:focus {
    border: 2px solid var(--color-brand);
    outline: none;
    color: var(--content-primary);
  }
  
  & input[type= "submit"] {
    padding: .625rem;
    border-radius: 0.75rem;
    background-color: var(--color-brand);
    color: var(--always-white);
    font: var(--label);
    border: none;   
  }
  
  & input[type= "submit"]:hover {
    background-color: var(--color-brand-hover);
  }
}

@media (width >= 80em) {

  .add-item {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
    
  }
}

.cards {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  margin-block: 2.375rem;
  gap: .75rem;

  list-style: none;

  & .card {
    /* border: 2px solid black; */
    padding: .75rem;
    background-color: var(--background-secondary);
    border-radius: .75rem;
    align-items: center;
    display: flex;

    & .remove {
      margin-left: auto;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
    }

    
    & label {
      align-items: center;
      display: flex;
      gap: 0.75rem;
      
      & p {
        font: var(--paragraph);
        color: var(--content-secondary);
      }

      & input {
        position: absolute;
        opacity: 0;
      }

      .checkbox {
        width: 1rem;
        height: 1rem;
        border: 1px solid var(--border-primary);
        border-radius: .3rem;
        position: relative;
      }

      & input:hover + .checkbox {
        border: 1px solid var(--border-hover);
      }

      & input:checked + .checkbox {
        background-color: var(--color-brand);
        border: none;
      }
      
      & input:checked + .checkbox::after {
        content: "";
        position: absolute;

        width: 12px;
        height: 12px;

        background-image: url("../assets/icons/check.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

      }


    }


  }
}

.alert {
  background-color: var(--color-danger);
  border-radius: .75rem;
  padding: .8rem;
  display: none;
  align-items: center;
  gap: .5rem;

  & span {
    font: var(--label);
    color: var(--always-white);
  }

  & .mensagem {
    margin-left: auto;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    align-items: center;
    display: flex;
  }
}